<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      Edit Employee Profile
    </ion-col>
  </ion-row>
  <div *ngIf="flagLoaded">
    <form [formGroup]="editForm" (ngSubmit)="submitForm()">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input [(ngModel)]="details.first_name" formControlName="first_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input [(ngModel)]="details.last_name" formControlName="last_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button expand="block"
      type="submit">
        Submit
      </ion-button>
    </form>
  </div>
  
 
</ion-content>
