<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <span *ngIf="flagLoaded">{{ details.first_name }} {{ details.last_name }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="flagLoaded">
  <ion-row>
    <ion-col>
      <ion-avatar >
        <img [src]="details.avatar">
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col> {{ details.first_name }} {{ details.last_name }}</ion-col>
  </ion-row>
</ion-content>
